flows.json
[{"id":"b51d3791.1525b","type":"http in","z":"358cff5d.6682c8","name":"","url":"/stt","method":"get","upload":false,"swaggerDoc":"","x":176,"y":162,"wires":[["d9e281b4.44051"]]},{"id":"b6a77739.8fcb88","type":"template","z":"358cff5d.6682c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script src=\"https://rawgit.com/watson-developer-cloud/speech-javascript-sdk/master/dist/watson-speech.js\"></script>\n    <script>\n        var recog = false;\n        $(document).ready(function() {\n            $('#button').click(function() {\n                if (recog == true) {\n                    stream.stop();\n                    $('#button').text('Start');\n                    recog = false;\n                } else {\n                    $('#button').text('Stop');\n                    recog = true;\n                    stream = WatsonSpeech.SpeechToText.recognizeMicrophone({\n                        token: \"{{auth}}\",\n                        outputElement: \"#resp\",\n                        realtime: true,\n                    });\n                    stream.on('error', function(err) {\n                        console.log(err);\n                    });\n                }\n            })\n            $('#url').change(function() {\n                url = $('#url').val();\n                var n = url.lastIndexOf('=');\n                var sr = url.substring(n + 1);\n                url = 'https://www.youtube.com/embed/' + sr;\n                $('#frame').attr('src', url);\n            })\n            $('#stop').click(function() {\n                stream.stop();\n            })\n        });\n\n\n\nfunction downloadInnerHtml(filename, elId, mimeType,text_data) {\n    ;\n    var link = document.createElement('a');\n    mimeType = mimeType || 'text/plain';\n    link.setAttribute('download', filename);\n    link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(text_data));\n    link.click();\n}\n\nvar fileName =  'transcript.txt';\n\n\n$(function(){\n   $('#export').click(function(){\n    var text_data=$('#resp').text();\n    downloadInnerHtml(fileName, 'main','text/html',text_data);\n});\n});\n\n    </script>\n</head>\n\n<body>\n    <div id=\"container\">\n        <center>\n            <h3>Watson Speech to text </h3>\n            <input size=\"40\" type=\"text\" name=\"url\" id=\"url\" placeholder=\"https://www.youtube.com/watch?v=85PMSYAguZ8\" pattern=\"https://.*\" size=\"20\" required /> &nbsp; &nbsp;\n            <button id=\"button\">Start</button>&nbsp;&nbsp;<button id=\"export\">export</button><br/><br/>\n            <iframe id=\"frame\" width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/rQKis2Cfpeo\" frameborder=\"0\" allow=\"autoplay; encrypted-media\" allowfullscreen></iframe><br/>\n        </center>\n        <p id=\"resp\"></p>\n    </div>\n    <center><h6>Use chrome for optimal performance and export</h6></center>\n</body>\n\n</html>\n","output":"str","x":566,"y":111,"wires":[["cb5f0779.34244"]]},{"id":"cb5f0779.34244","type":"http response","z":"358cff5d.6682c8","name":"","statusCode":"","headers":{},"x":732,"y":142,"wires":[]},{"id":"72dc386c.0e4b8","type":"inject","z":"358cff5d.6682c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3360","crontab":"","once":true,"onceDelay":0.1,"x":214,"y":257,"wires":[["e847851d.24e5e"]]},{"id":"e847851d.24e5e","type":"http request","z":"358cff5d.6682c8","name":"","method":"GET","ret":"txt","url":"https://stream.watsonplatform.net/authorization/api/v1/token?url=https://stream.watsonplatform.net/speech-to-text/api","tls":"","x":390,"y":227,"wires":[["2fb472d2.1d36c6"]]},{"id":"2fb472d2.1d36c6","type":"function","z":"358cff5d.6682c8","name":"","func":"flow.set(\"auth\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":251,"wires":[[]]},{"id":"d9e281b4.44051","type":"function","z":"358cff5d.6682c8","name":"","func":"msg.auth=flow.get(\"auth\");\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":96,"wires":[["b6a77739.8fcb88"]]}]
